* {
  scroll-behavior: smooth;
}

.app {
  min-height: 100vh;
  background-color: #0c0c0c;
  color: white;
  padding-bottom: 20px;
}

.trending {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.search_bar {
  display: flex;
  justify-content: center;
}

.search {
  background-color: transparent;
  color: white;
  width: 90%;
  height: 3vmax;
  font-size: medium;
  border-radius: 90px;
  padding: 5px;
  margin: 0.5%;
}

::placeholder {
  color: white;
  opacity: 1;
}

.css-heg063-MuiTabs-flexContainer {
  width: 100%;
}

.css-1fvudcs-MuiInputBase-root-MuiOutlinedInput-root {
  border-radius: 90px !important;
}

.css-wjh20t-MuiPagination-ul button,
div {
  color: white !important;
}

.media:hover,
.home:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.05, 1.05);
}

@media(min-width:1025px) {
  .search {
    height: 2rem;
  }
}